<header id="menu" class="text-gray-700 center-x">
    <div class="container mx-auto flex flex-wrap p-6">
      <nav class="flex flex-wrap">
        <a href="#home">
            <img src="../../assets/white-paw.png" height="30px" width="30px"/>
        </a>
        <a href="#home">
            Inicio
        </a>
        <a href="#aboutme">
            Página
        </a>
        <a href="#skills">
            Página
        </a>
        <a href="#projects">
            Página
        </a>
        <a href="#talks">
            Página
        </a>
        <a href="#contact">
            Página
        </a>
      </nav>
    </div>
  </header>