<div class="content">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>¡Colaborá con nosotros!</h1>
        <a href="https://cafecito.app/porlosanimalitos" rel="noopener" target="_blank"
          ><img
            srcset="
              https://cdn.cafecito.app/imgs/buttons/button_1.png       1x,
              https://cdn.cafecito.app/imgs/buttons/button_1_2x.png    2x,
              https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x
            "
            src="https://cdn.cafecito.app/imgs/buttons/button_1.png"
            alt="Invitame un café en cafecito.app"
        /></a>
        <a href="https://www.instagram.com/porlosanimalitos/">
          <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
        </a>
    </div>
  </div>
</div>
