<div class="content">
  <div class="row d-flex flex-row-reverse">
    <div class="col-sm-4 col-lg-6">
      <img class="img-card" src="../../assets/photos/2.png" />
    </div>
    <div class="col-sm-8 col-lg-6">
      <h1>Castraciones</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam
      rerum odit ducimus sed quae ex voluptas repudiandae eligendi
      praesentium<br />
      quibusdam tempora consequuntur ullam animi, molestiae quisquam. Illo,
      alias natus.
    </div>
  </div>
</div>
