<div class="text-center content-center justify-center">
    <h1 class="title">Por los animalitos</h1>
</div>

<div class="container">
    <div class="card">
      <img src="../../assets/photos/Photo15.jpg">
      <!-- <div class="card__head">Plotting Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo5.jpg">
        <!-- <div class="card__head">Prowling Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo6.jpg">
        <!-- <div class="card__head">Sleepy Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo2.jpg">
        <!-- <div class="card__head">Sleepy Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo4.jpg">
        <!-- <div class="card__head">Sleepy Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo3.jpg">
        <!-- <div class="card__head">Sleepy Cat</div> -->
    </div>
    <div class="card">
        <img src="../../assets/photos/Photo11.jpg">
        <!-- <div class="card__head">Angry Cat</div> -->
    </div>
</div>
