h1 {
    color: var(--yellow-color);
    font-size: 60px;
    font-family: var(--primary-font);
    line-height: 0.7em;
}

.title {
    position: absolute;
    left: 50%;
    top: 90%;
    width: 100%;
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    z-index: 1;
}

h5 {
    color: var(--biscuit-color);
    font-family: var(--secondary-font);
}

@media screen and (min-width: 650px) {
    h1 {
        font-size: 90px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vmin 0vmin;
    overflow: hidden;
}
.container .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 78vmin;
    position: relative;
}
.container .card .card__head {
    color: var(--text-color);
    background: var(--yellow-color);
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
}
.container .card:hover {
    flex-grow: 10;
}
.container .card:hover img {
    filter: grayscale(0);
}
.container .card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: var(--text-color);
    background: var(--yellow-color);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
}
.container .card img {
    width: 100%;
    height: 96%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(80%);
}